name: Publish

on:
  release:
    types: [created]

jobs:
  npm:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 21
        registry-url: https://registry.npmjs.org

    - name: Publish to the NPM
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
      run: |
        npm publish --provenance --access=public